@import url(barra-navegacion.css);
@import url(body.css);
@import url(contacto.css);
@import url(envios.css);
@import url(footer.css);
@import url(formulario.css);
@import url(header.css);
@import url(horarios.css);
@import url(pago.css);
@import url(pedir-producto.css);
@import url(galeria.css);
@import url(aside.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 420px) {}

@media (max-width: 767px) {}



