header{
    color: black;
    font-size: 15px;
    font-weight:lighter;
    font-style: italic;
      background: #b3dbc4  ;
      height: 315px;
      width: 100%;
      margin: 0px auto;
      text-align: center;
      border-bottom: 3px dashed #cdda61;

}