header{
  height: 300px;
  width: 100%;
  color:black;
  font-size: 15px;
  font-weight:lighter;
  font-style: italic;
  background: #b3dbc4;
  margin: 0px auto;
  text-align: center;
  border-bottom: 3px dashed red;
}